---
import Layout from '../../../layouts/Layout.astro'
import Header from '../../../components/layout/Header.astro'
import Footer from '../../../components/layout/Footer.astro'
import { AleatoriSelector } from '../../../components/test/AleatoriSelector'
---

<Layout title="Test Aleatori - PER Quiz">
  <Header />
  <main class="min-h-[calc(100vh-4rem)]">
    <AleatoriSelector client:load />
  </main>
  <Footer />
</Layout>
